.login-mt {
    margin-top: 40px !important;
}

.index-mt {
    margin-top: 60px !important;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block; !important;
}

.submenu-icon-pl {
    padding-left: 30px !important;
}

/* Pagination CSS */
.page-current, .page-disabled {
    background-color: #cccccc !important;
    color: black !important;
    font-weight: bold !important;
}

.list-footer {
    z-index: 98;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 18%;
    text-align: left;
    background: rgba(103, 107, 111, .5);
}

.add-or-update-footer {
    z-index: 98;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 30px;
    text-align: right;
    background: rgba(103, 107, 111, .5);
}

.add-or-update-inline-footer {
    z-index: 98;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 30px;
    text-align: right;
    background: rgba(103, 107, 111, .5);
}

.bottom-space {
    height: 100px;
}

.filter {
    margin-bottom: 5px !important;
}

/* Chosen CSS */

.chosen-container-single .chosen-single {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
    padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}